mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="User profile image")
        .textareaContainer
            textarea#postTextarea(placeholder="What's going on?")
            .buttonsContainer
                button#submitPostButton(disabled="") Post