mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="User profile image")
        .textareaContainer
            textarea#postTextarea(placeholder="What's going on?")
            .buttonsContainer
                button#submitPostButton(disabled="") Post

mixin createReplyModal(userLoggedIn)
    // Button trigger modal
    button(type='button', data-toggle='modal', data-target='#replyModal')
    // Modal
    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    .postFormContainer
                        .userImageContainer
                            img(src=userLoggedIn.profilePic, alt="User profile image")
                        .textareaContainer
                            textarea#postTextarea(placeholder="What's going on?")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button', disabled='') Save changes
